*{
    font-family: "Questrial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --main-radius:5px;
    --main-padding:50px;
    --maroon: #730000;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
  body{
    margin:0;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    position: relative;
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows:0.2fr 8fr 1.2fr;
    grid-template-areas: 
    "nav nav"
    "content1 content1 ";
    grid-gap: 0.2rem;
  }
     body {
      min-height: 100vh;
      overflow-x: hidden;
    }
  nav{   
    position:sticky;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--white);
    box-sizing: border-box;
    border-bottom:double var(--maroon);
    grid-area: nav; 
    padding: 25px 25px
  }
  .brand-container{   
    display: inline-block;   
  } 
  .brand-title{
    display: inline-block;
    margin: 0;
    color:var(--maroon);
    position: relative;
    top:-10px;
    left: 15px;
  }
  .links-container{
    float:right;
    position: relative;
    top: 15px; 
    display: inline-flex;
  }
  .link{
    border-right:solid #730000;
    padding: 8px 20px 8px 5px;
    color: var(--black1);
    text-decoration: none;
    margin:0 15px;
    transition: 0.3s; 
    display: inline-flex;
  }
  .link:hover{
    border-radius: 5px;
    background-color: var(--maroon);
    color: var(--white);
    padding: 10px 25px;
    display: inline-flex;
  }
  .btn-link{
    background-color: var(--maroon);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--white);
    margin:0 15px;
    transition: 0.05s;
  }
  .btn-link:hover{
    background-color:gold;
    color: var(--maroon);
    padding: 11px 26px;
  }
  #content1{
    background: var(--white);
    grid-area:content1 ; 
    padding: var(--main-padding);
    margin: 10px 100px 10px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 550px;
  }
  #content1 .loginimage{
    margin: 10px;
    width: 100%;

  }
  #content1 h2 {
    font-size: 40px;
    font-weight: 900;
    color: #D81F26;
    padding-left: 35px;
  }
  #content1 form {
    margin: 20px 60px;
    border-radius: 8px;
    width: 80%;
    display: grid;
  }
  #content1 form h3 {
    letter-spacing: 5px;
    color: var(--black2);
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
  }
  #content1 form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(50% - 20px);
    position: relative;
  }
  #content1 form .user-details .input-box input,
  #content1 form .user-details .input-box select {
    height: 60px;
    width: 480px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #D81F26;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    margin: 20px 20px;
  }
  #content1 form .user-details .input-box select {
    padding-right: 45px;
    appearance: none;
    background: white;
  }
  form .button{
    display: flex;
    justify-content: center;
    height: 45px;
  }
  form .button input{
    letter-spacing: 3px;
    height: 100%;
    width: 30%;
    outline: none;
    color: var(--white);
    border-radius: 5px ;
    border-color: var(--white);
    background: #D81F26;
    font-size: 16px;
  }
  form .button input:hover{
    background-color:yellowgreen;
    border-color: var(--gray);
    color: var(--black1);
  }
  .input-box select option[value="active"] {
    background-color: greenyellow;
  }
  .input-box select option[value="inactive"] {
    background-color: red;
  }
  @media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1.4fr 2.2fr 2.2fr;
        grid-template-areas:
        "nav"
        "content1"
        "content2";

    }
}  
@media only screen and (max-width: 550px) {

    #content1 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  /* MODAL */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      120deg, rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.3)
    );
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--white);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    color: var(--white);
    float: right;
    font-size: 33px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #D81F26;
    text-decoration: none;
    cursor: pointer;
  }
  .form2 h2 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    
  }
  .form2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
  }
  .form2 h3 {
    letter-spacing: 5px;
    color: var(--white);
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  .form2 .user-details2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .form2 .user-details2 .input-box2 {
    margin-bottom: 15px;
    width: calc(50% - 20px);
    position: relative;
  }
  .user-details2 .input-box2 .labeltype {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
  }
  .form2 .user-details2 .input-box2 input,
  .form2 .user-details2 .input-box2 select{
    height: 45px;
    width: 106%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #D81F26;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
  }
  .form2 .user-details2 .input-box2 select {
    padding-right: 45px;
    appearance: none;
    background: white;
  }
  .input-box2 ion-icon {
    position: absolute;
    right: 2px;
    top: 58px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: var(--maroon);
  }
  .form2 .address-details2 input{
    height: 45px;
    width: 220%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #D81F26;
    padding-left: 15px;
    font-size: 16px;
  }
  .user-details2 .address-details2 label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
  }
  .form2 .button2{
    
    height: 45px;
  }
  .form2 .button2 input{
    letter-spacing: 3px;
    height: 100%;
    width: 30%;
    margin-left: 180px;
    outline: none;
    color: var(--white);
    border-radius: 5px ;
    border-color: var(--white);
    background: #D81F26;
    font-size: 16px;
  }
  .form2 .button2 input:hover{
    background-color:yellowgreen;
    border-color: var(--gray);
    color: var(--black1);
  }
  .input-box2 select option[value="active"] {
    background-color: greenyellow;
  }
  .input-box2 select option[value="inactive"] {
    background-color: red;
  }